<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main>
  <section class="main-container">
    <header>
      <div class="header-items">Y</div>
      <div class="header-items list">
        <b class="header-main-title">Hacker News</b>
        <div class="header-col-list">
          <ul>
            <li><a href="#">new</a></li>
            <li><a href="#">past</a></li>
            <li><a href="#">comments</a></li>
            <li><a href="#">ask</a></li>
            <li><a href="#">show</a></li>
            <li><a href="#">jobs</a></li>
            <li><a href="#">submit</a></li>
          </ul>
        </div>
      </div>
      <div class="header-items"><a href="#">login</a></div>
    </header>

    <section class="main-content-container">
      <div class="main-content">
        <div class="content-children list-number">
          <div class="number">1.</div>
          <div class="shape"></div>
        </div>
        <div class="content-children">
          <div class="title">
            <a href="#">
              I was just subjected to the most credible phishing attemp I've
              experienced
              <span class="twitter"><a href="#">(twitter.com)</a></span>
            </a>
          </div>
          <div class="sub-title">
            <span>237 points</span>
            <span> by vinnyglennon</span>
            <span>2 hours ago</span>
            <span> | </span>
            <span>hide</span>
            <span> | </span>
            <span>comments</span>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="content-children list-number">
          <div class="number">2.</div>
          <div class="shape"></div>
        </div>
        <div class="content-children">
          <div class="title">
            <a href="#">
              I was just subjected to the most credible phishing attemp I've
              experienced
              <span class="twitter"><a href="#">(twitter.com)</a></span>
            </a>
          </div>
          <div class="sub-title">
            <span>237 points</span>
            <span> by vinnyglennon</span>
            <span>2 hours ago</span>
            <span> | </span>
            <span>hide</span>
            <span> | </span>
            <span>comments</span>
          </div>
        </div>
      </div>
    </section>
  </section>
</main>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
