<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<main>
  <section class="main-container">
    <header>
      <div class="header-items">Y</div>
      <div class="header-items list">
        <b class="header-main-title">Hacker News</b>
        <div class="header-col-list">
          <ul>
            <li><a href="#">new</a></li>
            <li><a href="#">past</a></li>
            <li><a href="#">comments</a></li>
            <li><a href="#">ask</a></li>
            <li><a href="#">show</a></li>
            <li><a href="#">jobs</a></li>
            <li><a href="#">submit</a></li>
          </ul>
        </div>
      </div>
      <div class="header-items"><a href="#">login</a></div>
    </header>

    <section class="main-content-container">
      <div class="main-content">
        <div class="content-children list-number">
          <div class="number">1.</div>
          <div class="shape"></div>
        </div>
        <div class="content-children">
          <div class="title">
            <a href="#">
              I was just subjected to the most credible phishing attemp I've
              experienced
              <span class="twitter"><a href="#">(twitter.com)</a></span>
            </a>
          </div>
          <div class="sub-title">
            <span>237 points</span>
            by <a href="#">vinnyglennon</a>
            <span><a href="#"> 2 hours ago</a></span>
            <span> | </span>
            <a href="#">hide</a>
            <span> | </span>
            <a href="#">comments</a>
          </div>
        </div>
      </div>
      <div class="main-content">
        <div class="content-children list-number">
          <div class="number">2.</div>
          <div class="shape"></div>
        </div>
        <div class="content-children">
          <div class="title">
            <a href="#">
              I was just subjected to the most credible phishing attemp I've
              experienced
              <span class="twitter"><a href="#">(twitter.com)</a></span>
            </a>
          </div>
          <div class="sub-title">
            <span>237 points</span>
            <a href="#"> by vinnyglennon</a>
            <a href="#"> 2 hours ago</a>
            <span> | </span>
            <a href="#">hide</a>
            <span> | </span>
            <a href="#">comments</a>
          </div>
        </div>
      </div>
      <span class="more">
        <a href="#">More</a>
      </span>
    </section>

    <footer>
      <div class="footer-content">
        <ul>
          <li><a href="@">Guidline</a></li>
          <li><a href="@">FAQ</a></li>
          <li><a href="@">Support</a></li>
          <li><a href="@">API</a></li>
          <li><a href="@">Security</a></li>
          <li><a href="@">List</a></li>
          <li><a href="@">Bookmarklet</a></li>
          <li><a href="@">Legal</a></li>
          <li><a href="@">Apply to YC</a></li>
          <li><a href="@">Contact</a></li>
        </ul>
      </div>
      <div class="search-box">
        <input type="text" />
      </div>
    </footer>
  </section>
</main>
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
