/* You can add global styles to this file, and also import other style files */
/* main table head  */

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

.main-container {
  background-color: #f6f6ef;
}

a,
.btn {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

li {
  line-height: 10px;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #f60;
  padding: 0.2rem;
  align-items: center;
  position: relative;
}
/* Hacker news  */
header div b {
  font-weight: bolder;
  font-size: 15px;
}

/* Y logo with border */
header div:nth-child(1) {
  display: inherit;
  align-items: center;
  justify-content: center;
  font-weight: 1000px;
  width: 18px;
  height: 18px;
  border: 1px solid white;
  color: white;
}

/* this enable me offset and float login to the right */
header div {
  position: relative;
}
/* login  */
header div:nth-child(3) {
  position: absolute;
  right: 0;
  font-size: 10pt;
  padding-right: 1rem;
  padding-left: 1rem;
  margin-left: 2rem;
  font-size: 12px;
}

/*  columns */

.header-col-list ul {
  list-style-type: none;
  display: flex;
  width: 85%;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

.header-col-list ul li {
  display: inherit;
  flex-wrap: wrap;
  padding: 0.1rem;
}

/* target all li except the last item */
.header-col-list ul li:not(:last-child)::after {
  content: "|";
  padding: 0.15rem;
}

/* padding to the header title and list of link  */
.list {
  /* border: 1px solid black; */
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}

/* main content */
.main-content-container a {
  cursor: pointer;
}
.main-content-container a:visited {
  color: #828282;
}

.main-content-container {
  font-size: 11pt;
  line-height: 14pt;
}

.list-number {
  display: flex;
  flex-direction: row;
}

/* triangle shade */
.shape {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 10px solid #999999;
  position: relative;
  top: 5px;
  margin-right: 0.7rem;
  margin-left: 0.18rem;
}

.main-content {
  display: flex;
  flex-direction: row;
  margin: 0.8rem;
}

.sub-title {
  font-size: 10px;
  color: #828282;
}

.number {
  font-size: 11pt;
  color: #828282;
}

.twitter {
  font-size: 11px;
  color: #828282;
}

/* more section */
.more {
  padding-left: 3.6rem;
  margin-bottom: 0;
}

.more a {
  color: black !important;
}

/* footer section */
footer {
  border-top: 2px solid #f60;
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 90%;
  height: 91px;
  font-size: 8pt;
  margin: 0;
}

.footer-content ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}

.footer-content ul li {
  padding-left: 0.2rem;
}

.footer-content ul li:after {
  content: " | ";
  line-height: 15px;
  color: #828282;
}

.search-box {
  width: 90%;
  margin-bottom: 1rem;
}

.search-box input {
  width: 100%;
  outline: none;
}

.search-box input:focus {
  border: 1px solid red;
}

/* Desktop view */
@media screen and (min-width: 780px) {
  body {
    padding: 8px;
  }
  .main-container {
    width: 85%;
    margin: auto;
  }

  /* Hacker news  */
  header div b {
    font-weight: bold;
    font-size: 13px;
  }

  /* target all li except the last item */
  .header-col-list ul li:not(:last-child)::after {
    content: "|";
  }

  .list {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  /* make list items takes full width of his container */
  .header-col-list ul {
    width: 100%;
  }

  /* footer */
  .search-box {
    width: 20%;
    outline: none;
  }
}
