/* You can add global styles to this file, and also import other style files */
/* main table head  */

html,
body {
  padding: 0;
  margin: 0;
  width: 100%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 12px;
}

a,
.btn {
  text-decoration: none;
  color: black;
  cursor: pointer;
}

li {
  line-height: 10px;
}

header {
  display: flex;
  flex-direction: row;
  background-color: #f60;
  padding: 0.2rem;
  align-items: center;
  position: relative;
}
/* Hacker news  */
header div b {
  font-weight: bolder;
  font-size: 15px;
}

/* Y logo with border */
header div:nth-child(1) {
  display: inherit;
  align-items: center;
  justify-content: center;
  font-weight: 1000px;
  width: 18px;
  height: 18px;
  border: 1px solid white;
  color: white;
}

/* this enable me offset and float login to the right */
header div {
  position: relative;
}
/* login  */
header div:nth-child(3) {
  position: absolute;
  right: 0;
  font-size: 10pt;
  padding-right: 1rem;
  padding-left: 1rem;
  font-size: 12px;
}

/*  columns */

.header-col-list ul {
  list-style-type: none;
  display: flex;
  width: 80%;
  flex-wrap: wrap;
  align-items: center;
  padding-left: 0;
  margin: 0;
}

.header-col-list ul li {
  display: inherit;
  flex-wrap: wrap;
  padding: 0.1rem;
}

/* target all li except the last item */
.header-col-list ul li:not(:last-child)::after {
  content: "|";
  padding: 0.15rem;
}

/* padding to the header title and list of link  */
.list {
  /* border: 1px solid black; */
  padding-right: 0.7rem;
  padding-left: 0.7rem;
}
